

        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type of Hours</th>
              <th># of Hours</th>
              <th>Description</th>
              <th></th><th></th>
            </tr>
          </thead>
          <tr ng-repeat="items in $ctrl.list track by $index" >
            <td>
              {{items.hdate}}
            </td>
            <td>
              {{items.hrstype}}
            </td>
            <td>
              {{items.numhrs}}
            </td>
            <td style="width:175px;">
              {{items.description}}
            </td>
            <td>
              <button class='btn btn-xs btn-warning' ng-click="$ctrl.toEd($index)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></button>
              <button class='btn btn-xs btn-danger' ng-click="$ctrl.toDelete($index)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
            </td>
          </tr>
        </table>
