<div class="row justify-content-md-center">
  <div ng-if="!mctrl.triedUpdate" class="col-sm-12 text-center">
    <h5>You can change your username, password, and contact information below.</h5>
  </div>
  <div ng-if="mctrl.updated" class="alert alert-success" role="alert">
    <h4>Updates were successful!</h4></div>
    <div ng-if="!mctrl.updated && mctrl.triedUpdate" class="alert alert-danger" role="alert">
      <h4>That username is already in use. Please select another.</h4></div>
</div>

<form name='getForm' novalidate>
<div class="form-group buttons">
  <div class="row">
    <label class="col-sm-3 control-label text-left"
      for="inputEmail">Username</label>
    <div class="col-sm-9">
    <input class="form-control" type="text" name="username"
       placeholder="Username" ng-model="mctrl.username" required
       minlength = 4>
       <span class="input_warning"
         ng-if="(getForm.username.$error.minlength || getForm.username.$error.required) && getForm.username.$touched">
         Please enter a username that is at lest 4 characters long.
       </span><br>
    </div>
  </div>


 <div class="row">
   <label class="col-sm-3 control-label text-left"
     for="inputEmail">Password:</label>
   <div class="col-sm-9">



   <input class="form-control" type="password" name="password" id='pw1'
      placeholder="Password" ng-model="mctrl.password" required
      minlength = 4>
      <span class="input_warning"
        ng-if="(getForm.password.$error.minlength || getForm.password.$error.required) && getForm.password.$touched">
        Please enter a password that is at lest 4 characters long.
      </span><br>
   </div>
 </div>

 <div class="row">
   <label class="col-sm-3 control-label text-left"
     for="inputEmail">Confirm Password:</label>
   <div class="col-sm-9">
   <input class="form-control" type="password" name="password2" id='pw2'
      placeholder="Confirm Password" ng-model="mctrl.password2" required pw-check='pw1'>



      <span class="input_warning"
        ng-show="getForm.$error && getForm.password2.$error.pwmatch && getForm.password.$touched">
        Passwords don't match.
      </span><br>
   </div>
 </div>


<div class="row">
  <label class="col-sm-3 control-label text-left"
    for="inputEmail">Email:</label>
  <div class="col-sm-9">
  <input class="form-control" type="email" name="email"
     placeholder="Email" ng-model="mctrl.email" required>
     <span class="input_warning"
       ng-if="getForm.email.$invalid && getForm.email.$touched">
       Please enter an email address in a valid format.
     </span><br>
  </div>
</div>

<div class="row">
  <label class="col-sm-3 control-label text-left"
    for="street">Street Address:</label>
  <div class="col-sm-3">
  <input class="form-control" type="text" name="street"
     placeholder="Street Address" ng-model="mctrl.street">
     <!-- <span class="input_warning"
       ng-if="getForm.street.$invalid && getForm.street.$touched">
       Please enter an email address in a valid format.
     </span><br> -->
  </div>
  <label class="col-sm-3 control-label text-left"
    for="street">Town:</label>
  <div class="col-sm-3">
  <input class="form-control" type="text" name="town"
     placeholder="Town" ng-model="mctrl.town">
  </div>
</div>

<div class="row"><br />
  <label class="col-sm-3 control-label text-left"
    for="street">State:</label>
  <div class="col-sm-3" >
    <select ng-model="mctrl.state">
      <option ng-if="mctrl.state=='NJ'" value = "NJ" selected>New Jersey</option>
      <option ng-if="mctrl.state=='PA'" value = "PA" selected>Pennsylvania</option>
      <option ng-if="mctrl.state=='PA' || mctrl.state==''" value = "NJ" >New Jersey</option>
      <option ng-if="mctrl.state=='NJ' || mctrl.state==''" value = "PA" >Pennsylvania</option>
    </select>
  <!-- <input class="form-control" type="text" name="state"
     placeholder="State" ng-model="mctrl.state"> -->
     <!-- <span class="input_warning"
       ng-if="getForm.street.$invalid && getForm.street.$touched">
       Please enter an email address in a valid format.
     </span><br> -->
  </div>
  <label class="col-sm-3 control-label text-left"
    for="street">Zip:</label>
  <div class="col-sm-3">
  <input class="form-control" type="text" name="zip"
     placeholder="Zip" ng-model="mctrl.zip">
     <!-- <span class="input_warning"
       ng-if="getForm.street.$invalid && getForm.street.$touched">
       Please enter an email address in a valid format.
     </span><br> -->
  </div>
</div>

<div class="row"><br />
  <label class="col-sm-3 control-label text-left"
    for="street">Home Phone:</label>
  <div class="col-sm-3">
  <input class="form-control" type="text" name="hphone"
     placeholder="Home Phone" ng-model="mctrl.hphone">
     <!-- <span class="input_warning"
       ng-if="getForm.street.$invalid && getForm.street.$touched">
       Please enter an email address in a valid format.
     </span><br> -->
  </div>
  <label class="col-sm-3 control-label text-left"
    for="street">Cell Phone:</label>
  <div class="col-sm-3">
  <input class="form-control" type="text" name="cphone"
     placeholder="Cell Phone" ng-model="mctrl.cphone">
     <!-- <span class="input_warning"
       ng-if="getForm.street.$invalid && getForm.street.$touched">
       Please enter an email address in a valid format.
     </span><br> -->
  </div>
</div>
<div class="row"><br /><br />
  <div class="col-sm-3 text-left">
    <label>Preferred Number</label>
  </div>
  <div class="col-sm-9 text-left">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="hphone" ng-model="mctrl.preferred">
          Home Phone
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="cphone" ng-model="mctrl.preferred">
          Cell Phone
      </label>
    </div>
  </div>
</div>

  <br /><button class='btn btn-lg btn-success'
  ng-disabled="getForm.$invalid"
  ng-click="mctrl.submit()">UPDATE</button>
</div>
</form>
