<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Search for Member</h3>

      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 ng-if="!mactrl.added">Add New Member</h2>
        <h2 ng-if="mactrl.added">New Member Has Been Added</h2>
        <div class="form-group">

          <div class="row">
              <div class="col-sm-3">
                <label>First Name</label><br/>
                <input class="form-control" type="text"
                 placeholder="First Name" ng-model="mactrl.fname" ng-click="mactrl.backToAdd()">
              </div>
              <div class="col-sm-3">
                <label>Last Name</label><br/>
                <input class="form-control" type="text"
                 placeholder="Last Name" ng-model="mactrl.lname" ng-click="mactrl.backToAdd()">
              </div>
              <div class="col-sm-2">
                <label>Class Year</label><br/>
                <input class="form-control" type="text"
                 placeholder="Class Year" ng-model="mactrl.aclass">
              </div>
              <div class="col-sm-2">
                <label>MG Status</label><br/>
                <select class="custom-select form-control" ng-model="mactrl.mgstatus" ng-click="mactrl.backToAdd()">
                  <option value="A">Active</option>
                  <option value="A - Trainee">Active Trainee</option>
                  <option value="E">Emeritus</option>
                  <option value="IA">Inactive</option>
                  <option value="T/NotG">Trainee - Did not Graduate</option>
                </select>
              </div>
              <div class="col-sm-2">
                <label>Admin Status</label><br/>
                <select class="custom-select form-control" ng-model="mactrl.adstatus" ng-click="mactrl.backToAdd()">
                  <option value="non">Non Admin</option>
                  <option value="full">Full Admin</option>
                  <option value="hours">Hrs Admin</option>
                </select><br/>
              </div>
           </div>


          <div class="row">
            <div class="col-sm-3">
              <button class='btn btn-lg btn-success' ng-click="mactrl.asubmit()">SUBMIT</button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h3>Full Admin Members</h3><br/>
        <div class="col-sm-12 text-left" ng-repeat="items in mactrl.fulladmin">
          {{items.fname}} {{items.lname}}<br/>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h3>Hours Admin Only</h3><br/>
        <div class="col-sm-12 text-left" ng-repeat="items in mactrl.hrsadmin">
          {{items.fname}} {{items.lname}}<br/>
        </div><br/>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h3>Member List</h3><br/>
        <div class="col-sm-12">
          <button class='btn btn-lg btn-success'>
            <span class="glyphicon glyphicon-step-backward"
            ng-mousedown="mactrl.firstPage()"
            ng-mouseup="mactrl.getNewPage()"></span></button>
          <button class='btn btn-lg btn-success'><span class="glyphicon glyphicon-triangle-left"
            ng-mousedown="mactrl.decreasePage()"
            ng-mouseup="mactrl.getNewPage()"></span></button>
              <span id="hrsadmin"><select ng-model="mactrl.page"
              ng-change="mactrl.getNewPage()" >
                <option  ng-repeat="nums in mactrl.range" value="{{nums}}">{{nums}}</option>
              </select></span>
          <button class='btn btn-lg btn-success'><span class="glyphicon glyphicon-triangle-right"
            ng-mousedown="mactrl.increasePage()"
            ng-mouseup="mactrl.getNewPage()"></span></button>
          <button class='btn btn-lg btn-success'>
            <span class="glyphicon glyphicon-step-forward"
            ng-mousedown="mactrl.lastPage()"
            ng-mouseup="mactrl.getNewPage()"></span></button>
        </div>
        <table class="table table-condensed text-left">
          <thead>
            <tr>
              <th>Name</th>
              <th>Class</th>
              <th>Status</th>
              <th>Admin Level</th>
            </tr>
          </thead>
          <tr ng-repeat="items in mactrl.list">
            <td>
              <button class='btn btn-sm btn-info' >{{items.fname}} {{items.lname}}</button>
            </td>
            <td>
              {{items.class}}
            </td>
            <td>
              {{items.mgstatus}}
            </td>
            <td>
              {{items.admin_status}}
            </td>
          </tr>
        </table>
        <div class="col-sm-12">
          <button class='btn btn-lg btn-success'>
            <span class="glyphicon glyphicon-step-backward"
            ng-mousedown="mactrl.firstPage()"
            ng-mouseup="mactrl.getNewPage()"></span></button>
          <button class='btn btn-lg btn-success'><span class="glyphicon glyphicon-triangle-left"
            ng-mousedown="mactrl.decreasePage()"
            ng-mouseup="mactrl.getNewPage()"></span></button>
              <span id="hrsadmin"><select ng-model="mactrl.page"
              ng-change="mactrl.getNewPage()" >
                <option  ng-repeat="nums in mactrl.range" value="{{nums}}">{{nums}}</option>
              </select></span>
          <button class='btn btn-lg btn-success'><span class="glyphicon glyphicon-triangle-right"
            ng-mousedown="mactrl.increasePage()"
            ng-mouseup="mactrl.getNewPage()"></span></button>
          <button class='btn btn-lg btn-success'>
            <span class="glyphicon glyphicon-step-forward"
            ng-mousedown="mactrl.lastPage()"
            ng-mouseup="mactrl.getNewPage()"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
