  <div class="row" ng-if="regctrl.nonMember">
      <div ng-if="!regctrl.triedRegister" class="col-sm-12  text-left">
          We're excited to have you start using this site to log your hours.
          Please enter your first and last name along with your class year so we can
          make sure you are in fact a member of master gardeners.

      </div>
      <div ng-if="regctrl.nonMember && regctrl.triedRegister"
      class="alert alert-danger" role="alert">Sorry. What you entered does
        match what we have in our database. Please try again. If you continue to have
        problems, please contact the master gardners' board.
      </div>
  </div>

  <div class="row buttons" ng-if="regctrl.nonMember">
      <div class="col-sm-12  text-left">

        <div class="form-group">

          <div class="row">
            <label class="col-sm-3"
              for="inputEmail">First Name</label>
            <div class="col-sm-9">
            <input class="form-control" type="text"
               placeholder="First name" ng-model="regctrl.fname"><br/>
            </div>
          </div>

          <div class="row">
            <label class="col-sm-3"
              for="inputEmail">Last Name</label>
            <div class="col-sm-9">
            <input class="form-control" type="text"
               placeholder="Last Name" ng-model="regctrl.lname"><br/>
            </div>
          </div>

          <div class="row">
            <label class="col-sm-3"
              for="inputEmail">Class Year</label>
            <div class="col-sm-9">
            <input class="form-control" type="text"
               placeholder="Class Year" ng-model="regctrl.class"><br/>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <button class='btn btn-lg btn-success' ng-click="regctrl.submit()">SUBMIT</button>
            </div>
          </div>

        </div>

    </div>
  </div>

  <div class="row" ng-if="!regctrl.nonMember">
    <div class="col-sm-12 col-centered" >
        Excellent {{regctrl.fname}} {{regctrl.lname}}! Now we need to have you
        set up a username and password for your account. Please know that your
        username must be unique. We also need you to provide an email for those
        times when you forget your username or password. Thanks.<br />

      <span ng-if="regctrl.nonMember && regctrl.triedRegister" >sorry that info doesn't correspond. Try Again.</span><br>
    </div>
  </div>

  <div class="row" ng-if="!regctrl.nonMember">
      <div class="col-sm-12  text-left">

        <div class="form-group">

          <div class="row">
            <label class="col-sm-3 control-label text-left"
              for="inputEmail">Username</label>
            <div class="col-sm-9">
            <input class="form-control" type="text"
               placeholder="Username" ng-model="regctrl.username">
            </div>
          </div>

          <div class="row">
            <label class="col-sm-3 control-label text-left"
              for="inputEmail">Password</label>
            <div class="col-sm-9">
            <input class="form-control" type="password"
               placeholder="Password" ng-model="regctrl.password">
            </div>
          </div>

          <div class="row">
            <label class="col-sm-3 control-label text-left"
              for="inputEmail">Email</label>
            <div class="col-sm-9">
            <input class="form-control" type="email"
               placeholder="Email" ng-model="regctrl.email">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <button class='btn btn-lg btn-success' ng-click="regctrl.rsubmit()">SUBMIT</button>
            </div>
          </div>

        </div>

      </div>
    </div>
